.btn {
    border-radius: 12px !important;
    padding: 12px 20px !important;
    border: none !important;
}

.active {
    background-color: #2A85FF;

}

.deactive {
    background: rgba(42, 133, 255, 0.50);
}