@use '../../../abstracts/mixin' as *;

.account-type-container {
    gap: 32px;
    margin-top: 200px;

    @include mq(big-desktop-down) {
        width: 30% !important;
    }


    .account-type-title {
        color: #1A1D1F;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -1.44px;
    }

    .account-type-info {
        color: #1A1D1F;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.14px;
    }

    .account-type-form {
        gap: 32px;
    }

}