.database-container {
    padding: 40px;
    background-color: #fcfcfc;
    gap: 16px;

    .database-header {

        button {
            border: none;
        }

        .title {
            color: #272B30;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 48px;
            letter-spacing: -0.8px;
        }

        .header-actions {
            gap: 8px;

            .import {
                padding: 8px 16px;
                color: var(--Neutral-01, #FCFCFC);
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: -0.13px;
            }

            .download {
                padding: 8px 16px;
                border-radius: 8px;
                border: 2px solid var(--Primary-01, #2A85FF);
                background: var(--Neutral-01, #FCFCFC);
                color: var(--Primary-01, #2A85FF);
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: -0.13px;
            }
        }
    }

    .database-nav {
        gap: 8px;

        button {
            padding: 8px 16px;
            border-radius: 8px;
            border: 2px solid var(--Neutral-03, #EFEFEF);
            background: var(--Neutral-01, #FCFCFC);
            color: var(--Neutral-07, #1A1D1F);
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.13px;
        }

        .active {
            background: var(--Neutral-06, #272B30);
            color: #fcfcfc;
        }
    }

}