@use '../../../../abstracts/mixin' as *;


.id-register-container {
    margin-top: 100px !important;


    @include mq(big-desktop-down) {
        width: 35% !important;
    }

    .id-register-type {
        color: #1A1D1F;
        background-color: #B5E4CA;
        border-radius: 8px;
        margin-bottom: 12px;
        width: fit-content;
        padding: 4px 12px;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.48px;
    }

    .id-register-title {
        color: #1A1D1F;
        margin-bottom: 32px;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -1.44px;
    }

    .id-register-info {
        color: #1A1D1F;
        margin-bottom: 24px;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.4px;
    }

    .id-register-form {
        gap: 20px;

        .fincode-input {
            border-radius: 12px;
            border: 2px solid #9A9FA5;
            padding: 8px 16px;

            .input-div {
                flex: 1;
                background-color: transparent;
                padding: 0;
            }

            img {
                filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(100deg);
            }

        }

        .input-div:nth-child(6) {
            padding: 8px 16px;
            background-color: transparent;
            border: 2px solid var(--neutral-shades-0475, #9A9FA5);
        }

        .input-div:nth-child(7) {
            padding: 8px 16px;
            background-color: transparent;
            border: 2px solid var(--neutral-shades-0475, #9A9FA5);
        }
    }
}