.tax-module-container {
    min-height: 100vh;

    .tax-module-content {
        flex-grow: 1;
        overflow-x: hidden;
        // overflow: hidden;
        background: #EFEFEF;
        display: flex;
        flex-direction: column;

        .table {
            padding: 24px 40px;
            flex-grow: 1 !important;
            display: flex;
            flex-direction: column;
        }
    }
}