.module-container {
    overflow: hidden !important;
    scrollbar-width: none !important;
    min-height: 100vh;

    .content-wrapper {
        width: 80%;
        background-color: #efefef;


        .content {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 0;
            padding-bottom: 40px;

            .table {
                padding: 0 40px;
                background-color: #efefef;
                border-radius: 20px !important;
            }
        }
    }
}

.reports-container{
    .custom-table{
    }
}


// .module-container {
//     min-height: 100vh;
//     overflow: hidden !important;
//     scrollbar-width: none !important;


//     .content-wrapper {
//         width: 80%;
//         gap: 12px;
//         background-color: #efefef;


//         .content {
//             gap: 16px;
//             display: flex;
//             flex-direction: column;
//         }
//     }
// }