.event-card {
    gap: 16px;
    border: none !important;

    .card-img-top{
        height: 200px !important;
        border-radius: 16px !important;

        img{
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
        }
    }



    .card-body {
        padding: 0 !important;

        .date {
            color: var(--Neutral-05, #33383F);
            font-size: 12px;
            font-weight: 500;
        }

        .name {
            color: var(--Neutral-07, #1A1D1F);
            font-size: 15px;
            font-weight: 600;
        }

        .location {
            margin-top: 8px;
            gap: 8px;

            span {
                color: var(--Neutral-05, #33383F);

                /* Body 2 (Semibold) */
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                /* 171.429% */
                letter-spacing: -0.14px;
            }
        }

        .buttons {
            margin-top: 32px;
            gap: 8px;

            button {
                padding: 4px 24px;
                border-radius: 6px;
                border: 1px solid var(--Neutral-03, #EFEFEF);
                background: var(--Neutral-00, #FFF);

                color: var(--Neutral-07, #1A1D1F);
                text-align: center;
                font-size: 12px;
                font-weight: 700;
            }

            .active{
                color: #2A85FF !important;
            }
        }
    }
}