.colleagues-page-container {
    background: #F2F2F7;

    .social-wrapper {

        .content {

            .colleagues-container {
                gap: 32px;
                width: 85%;
                padding: 24px;
                border-radius: 16px;
                background: var(--Neutral-01, #FCFCFC);
                box-shadow: 1px 0px 0px 0px #F4F4F4 inset;
            }
        }
    }
}