.groups-page-container {

    .social-wrapper {

        .content {

            .groups-container {
                gap: 32px;
                width: 80%;
                padding: 24px;
                border-radius: 16px;
                background: var(--Neutral-01, #FCFCFC);
                box-shadow: 1px 0px 0px 0px #F4F4F4 inset;

                .groups {
                    border-radius: 16px;
                    background: var(--Neutral-01, #FCFCFC);
                    box-shadow: 1px 0px 0px 0px #F4F4F4 inset;
                    z-index: 1;
                    gap: 20px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 24px;
                }
            }
        }
    }
}