.individual-profile-page {
    background: #F2F2F7;
    min-height: 100vh;

    .profile-container {

        .profile {
            margin-top: 16px;
            margin-bottom: 112px;
            width: 80%;
            background-color: #fcfcfc;
            border-radius: 24px;

            .cover-img {
                border-radius: 12px;
                overflow: hidden;
                height: 300px;
                padding: 24px;

                img {
                    border-radius: 12px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .profile-wrapper {
                padding: 0 24px;
                padding-bottom: 100px;

                .left-side {
                    width: 40%;

                    .user-infos-cart {
                        padding: 32px;
                        background-color: #fff;
                        position: absolute;
                        top: -160px;
                        left: 100px;
                        max-width: 352px;
                        border-radius: 24px;
                        border: 1px solid var(--Neutrals-6, #E6E8EC);
                        background: var(--Neutrals-8, #FCFCFD);
                        box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.08);

                        .profile-img {
                            width: 160px;
                            height: 160px;
                            background-color: green;
                            border-radius: 50%;
                            position: relative;
                            margin-bottom: 32px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                            }



                            .camera-icon {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                padding: 8px;
                                background-color: #fff;
                                border-radius: 50%;
                            }
                        }

                        .username {
                            margin-bottom: 20px;
                            color: var(--Neutrals-2, #23262F);
                            text-align: center;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 40px;
                            letter-spacing: -0.32px;
                        }

                        .social-icons {
                            gap: 16px;
                            margin-bottom: 20px;

                            .icons {
                                gap: 24px;
                            }

                            .line {
                                height: 1px;
                                background: var(--Neutrals-6, #E6E8EC);
                            }

                            .created {
                                color: var(--Neutrals-4, #777E90);
                                text-align: center;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                            }

                        }

                        .about {
                            gap: 8px;
                            width: 100%;
                            margin-bottom: 32px;

                            .title {
                                color: var(--Neutrals-2, #23262F);

                                font-family: Inter;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 24px;
                                /* 171.429% */
                                letter-spacing: -0.14px;
                            }

                            .about-text {
                                color: var(--Neutral-05, #33383F);
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                            }
                        }

                        .user-details {
                            width: 100%;
                            gap: 20px;
                            margin-bottom: 20px;

                            .item {

                                div {
                                    gap: 12px;

                                    span {
                                        color: var(--Neutrals-4, #777E90);
                                        font-size: 14px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px;
                                    }
                                }

                                span {
                                    color: var(--Neutrals-2, #23262F);
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 24px;
                                }

                            }
                        }

                        .btn-edit {
                            border-radius: 90px;
                            border: 2px solid var(--Neutrals-6, #E6E8EC);
                            padding: 12px 16px;

                            color: var(--Neutrals-2, #23262F);
                            text-align: center;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 16px;
                        }

                    }
                }

                .right-side {
                    width: 60%;
                    gap: 32px;

                    .profile-navbar {
                        gap: 12px;


                        button {
                            padding: 8px 16px;
                            border: none;
                            background-color: transparent;

                            border-radius: 20px;
                            border: 2px solid var(--Neutral-03, #EFEFEF);
                            background: var(--Neutral-01, #FCFCFC);

                            color: var(--Neutral-07, #1A1D1F);
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: -0.13px;
                        }

                        .active {
                            background: var(--Neutral-06, #272B30);
                            color: var(--Neutral-01, #FCFCFC);
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: -0.13px;
                        }
                    }

                    div {
                        .posts-container {
                            width: 100%;
                            margin-top: 12px !important;
                        }
                    }


                }


            }
        }
    }

}