.vat-search-page-container {

    .social-wrapper {

        .content {
            background: #F2F2F7;
            flex: 1;
            padding: 40px 0 40px 0;

            .vat-search-container {
                gap: 32px;
                width: 85%;
                padding: 24px;
                border-radius: 16px;
                background: var(--Neutral-01, #FCFCFC);
                box-shadow: 1px 0px 0px 0px #F4F4F4 inset;

                .title {
                    width: 100%;
                    color: var(--Neutral-07, #1A1D1F);
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                    letter-spacing: -0.4px;
                }

                .vat-search {
                    gap: 32px;
                    width: 70%;

                    .search {
                        gap: 32px;
                        padding: 0 16px;
                        width: 100%;

                        .title {
                            color: var(--Neutral-07, #1A1D1F);
                            text-align: center;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 32px;
                            letter-spacing: -0.4px;
                        }

                        .account-type {
                            gap: 16px;
                            width: 100%;

                            .legal-entities {
                                gap: 12px;
                                border-radius: 12px;
                                border: 1px solid var(--Neutral-03, #EFEFEF);
                                padding: 12px 16px;

                                &-img {
                                    padding: 12px;
                                    border-radius: 50%;
                                    background: var(--Secondary-02, #CABDFF);
                                }

                                span {
                                    color: var(--Neutral-07, #1A1D1F);
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 24px;
                                    letter-spacing: -0.14px;
                                }

                                .checkbox-div {
                                    border-radius: 8px;
                                    width: 24px;
                                    height: 24px;
                                    overflow: hidden;
                                    border: 2px solid var(--neutral-shade-dark-0440, rgba(111, 118, 126, 0.40));

                                    input {
                                        background: var(--Neutral-01, #FCFCFC);
                                        // border: none;
                                        width: 100%;
                                        height: 100%;

                                    }

                                }



                            }

                            .natural-persons {
                                gap: 12px;
                                border-radius: 12px;
                                border: 1px solid var(--Neutral-03, #EFEFEF);
                                padding: 12px 16px;

                                &-img {
                                    padding: 12px;
                                    border-radius: 50%;
                                    background: var(--Secondary-02, #B5E4CA);
                                }

                                span {
                                    color: var(--Neutral-07, #1A1D1F);

                                    /* Body 2 (Semibold) */
                                    font-family: Inter;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 24px;
                                    /* 171.429% */
                                    letter-spacing: -0.14px;
                                }

                                .checkbox-div {
                                    border-radius: 8px;
                                    width: 24px;
                                    height: 24px;
                                    overflow: hidden;
                                    border: 2px solid var(--neutral-shade-dark-0440, rgba(111, 118, 126, 0.40));
                                    position: relative;

                                    input {
                                        background: var(--Neutral-01, #FCFCFC);
                                        border: none !important;
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;

                                    }

                                }



                            }
                        }

                        .inputs {
                            width: 100%;
                            gap: 20px;

                            input {
                                width: 100%;
                            }
                        }

                        .information {
                            gap: 12px;
                            padding: 16px;
                            border-radius: 12px;
                            background: var(--Secondary-03, #B1E5FC);
                            width: 100%;

                            span {
                                color: var(--Neutral-07, #1A1D1F);
                                font-family: Inter;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 16px;
                                /* 133.333% */
                                letter-spacing: -0.12px;
                            }
                        }

                        .btn-control {
                            width: 100%;
                            padding: 12px 20px;

                            color: var(--Neutral-01, #FCFCFC);

                            /* Button 1 */
                            font-family: Inter;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                            /* 160% */
                            letter-spacing: -0.15px;
                        }

                        .table {
                            width: 100%;
                        }

                    }

                }
            }
        }
    }
}