@use './colleaguesPage';
@use './currencyPage';
@use './customCalculator';
@use './eventsPage';
@use './friendsPage';
@use './groupFeed';
@use './groups';
@use './individualProfile';
@use './mainPage';
@use './tendersPage';
@use './vacanciesPage';
@use './vatSearch';
@use './corporateProfile';
@use './partnersPage';


.content {
    flex: 1;
    padding: 32px 0 32px 0;
    background: #F2F2F7;
}