.table-container {
    background-color: #FCFCFC;
    cursor: pointer;
    overflow: hidden;
    min-height: 100vh;
    border-radius: 8px;


    .infos {
        padding: 0px 24px 20px 24px;
        gap: 40px;

        .info {
            gap: 8px;

            span:first-child {
                color: #6F767E;
                font-size: 15px;
                font-weight: 500;
            }

            span:nth-child(2) {
                color: #1A1D1F;
                font-size: 15px;
                font-weight: 600;
            }

        }
    }

    .table-div {
        overflow-x: auto;
        overflow-y: auto;
        scrollbar-width: none !important;
        scroll-behavior: smooth;
        height: 90vh;
        position: relative;

        .custom-table {
            width: 100%;

            .group-header {

                .group-title {
                    border-right: 1px solid #6F767E;
                    padding: 0 20px !important;

                    &:last-child {
                        border-right: none !important;
                    }

                    &:first-child {

                        div {
                            padding: 8px 8px 8px 58px !important;
                        }
                    }

                    div {
                        background-color: #B5E4CA;
                        padding: 8px 8px 8px 12px;
                        font-size: 13px;
                        font-weight: 600;
                        border-radius: 4px;
                    }
                }
            }

            thead {
                
                tr {

                    th {
                        padding: 16px 24px !important;

                        .th {
                            gap: 8px;
                            width: fit-content !important;


                            span {
                                background-color: #6F767E;
                                color: #fff;
                                padding: 2px 8px;
                                border-radius: 4px;
                                font-size: 13px;
                                font-weight: 500;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }

            tbody {
                position: relative;

                tr {
                    white-space: nowrap;

                    &:nth-child(odd) {
                        background-color: #f4f4f4;
                    }

                    td {
                        padding: 16px 24px !important;
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .empty-message {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%);
        padding-top: 48px;
        gap: 20px;

        .icon {
            background-color: #B5E4CA;
            padding: 40px;
            border-radius: 50%;
            font-size: 48px;
            width: fit-content;
        }

        .message {

            span {
                text-align: center;
            }

            span:first-child {
                font-size: 32px;
                font-weight: 600;
                color: #1A1D1F;
                margin-bottom: 8px;
            }

            span:nth-child(2) {
                color: #33383F;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 16px;
            }

            span:nth-child(3) {
                font-size: 15px;
                font-weight: 600;
                color: #6F767E;
            }

        }

        .filter {
            padding: 12px 20px;
            border-radius: 12px;
            background-color: #2A85FF;
            border: none;
            font-size: 15px;
            font-weight: 700;
        }
    }

    .approved {
        background-color: #B5E4CA;
        padding: 2px 8px;
        border-radius: 6px;
        width: fit-content;
    }

    .unapproved {
        background-color: #e45757;
        padding: 2px 8px;
        border-radius: 6px;
        width: fit-content;
        color: #EFEFEF;
    }

    .group-header-row {
        background-color: #B1E5FC !important;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
    }

    .total{
        position: sticky;
        bottom: 0;
        width: 100%;
        background-color: green;
    }

}