.column-visibility-dropdown-menu {
    top: 60px;
    padding: 16px !important;
    gap: 8px;
    background-color: white;
    border-radius: 16px;
    min-width: 200px;
    right: 0px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    z-index: 9999;

    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        right: 30px;
        top: -9px;
    }

    .dropdown-title {
        color: #1A1D1F;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .column-inputs {
        width: 100%;

        div {
            text-align: left;
            color: var(--Neutral-07, #1A1D1F);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
            font-weight: 700;
        }

        label {
            color: var(--Neutral-07, #1A1D1F);
            font-size: 14px;
            font-weight: 600;
            display: flex;
            align-items: center;

            input {
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
        }

    }
}