.posts-container {
    background: #FCFCFC;
    padding: 24px;
    margin-left: 40px;
    margin-top: 32px;
    border-radius: 16px;
    box-shadow: 1px 0px 0px 0px #F4F4F4 inset;
    gap: 24px;
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;

    .line {
        border-radius: 1px;
        height: 1px;
        background: var(--Neutral-03, #EFEFEF);
    }


}