.confrontation-acts-modal {

    .modal-dialog {
        border-radius: 16px !important;
        padding: 0;
    }

    .modal-content {
        border: none !important;
        border-radius: 16px !important;

        .modal-header{
            padding: 0 !important;
        }


        .modal-body {
            padding: 0 !important;
            gap: 20px;
        }

        .modal-footer {
            border: none !important;
            padding: 0 !important;
            margin-top: 20px !important;
        }

        .img-div {
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 50%;
            background: var(--Neutral-03, #EFEFEF);
            padding: 8px;
            cursor: pointer;

            img {
                width: 20px !important;
                height: 20px !important;
            }
        }
    }
}