@use './addRowModal';
@use './addTaskModal';
@use './createGroupModal';
@use './createPostModal';
@use './authorizeModal';
@use './addBankModal';
@use './addAccountModal';
@use './reportsFilterModal';
@use './cellModal';
@use './transportModal';
@use './confrontationActsModal';
@use './SentModal';


.modal-dialog {

    .modal-content {
        padding: 48px 24px;
        position: relative;
        gap: 32px;


        .modal-header {
            border: none;

            .modal-title {
                font-size: 32px;
                font-weight: 600;
                text-align: center;
                width: 100%;
            }

            .btn-close {
                position: absolute;
                right: 20px;
                top: 20px;
                background-color: #efefef;
                padding: 8px;
                border-radius: 50%;
            }

        }


    }

    // .calendar-popup {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     z-index: 999;

    //     .rdrDayNumber span:hover {
    //         font-size: 12px !important;
    //     }

    //     .rdrDayNumber:hover {
    //         font-size: 12px !important;
    //     }
    // }


}