.textarea-div {
    padding: 8px 16px;
    border-radius: 12px;
    background: var(--Neutral-02, #F4F4F4);
    gap: 4px;

    .label {
        color: var(--Neutral-08, #111315);

        /* Caption 2 (Medium) */
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
        /* 100% */
        letter-spacing: -0.12px;
    }

    textarea {
        width: 100%;
        border: none;
        outline: none;
        resize: none;
        background-color: transparent;

        color: var(--Neutral-04, #6F767E);

        /* Base 1 (Semibold) */
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 160% */
        letter-spacing: -0.15px;
    }
}