.reports-header-container {
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0px;
    background-color: #fff;

    .reports-header {
        gap: 20px;
        padding-bottom: 24px;

        .filters-div {
            .location {
                font-size: 15px;
                font-weight: 500;
            }

            .filters {
                z-index: 99999;

                .header-filters {
                    gap: 40px;

                    .header-filter {
                        gap: 8px;

                        .filter-title {
                            color: var(--Neutral-04, #6F767E);
                            font-size: 15px;
                            font-weight: 500;
                        }

                        .filter-toggle {
                            gap: 4px;

                            .filter-content {
                                color: var(--Neutral-07, #1A1D1F);
                                font-size: 15px;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                        }

                        .calendar-div{
                            top: 40px;
                            right: 0;
                        }

                    }
                }
            }
        }

        input {
            border: none;
            outline: none;
            background-color: transparent;
            color: #1A1D1F;

        }

        div {

            .period {
                gap: 15px;

                span {
                    color: #1A1D1F;
                    font-size: 15px;
                    font-weight: 500;
                }

                input {
                    width: 19ch !important;
                    font-weight: 500;
                    font-size: 15px;
                    cursor: pointer;
                }
            }
        }

        textarea {
            border: none;
            outline: none;
            resize: none;
            background-color: transparent;
            font-size: 15px;
            font-weight: 500;
            color: #1A1D1F;
            width: 100%;
        }
    }

    .date {
        font-size: 24px;
        font-weight: 600;
        width: 100%;
    }

    .calendar-popup {
        position: absolute;
        top: 30px;
        z-index: 999;
    }

    .header-colspan {
        background-color: red;
        border-radius: 4px;
        background: var(--Secondary-02, #CABDFF);


        span {
            color: #000;
            text-align: center;
            font-size: 15px;
            font-weight: 600;
        }
    }
}