.content-header {

    .header {

        .title {
            font-size: 40px;
            font-weight: 600;
            color: #272B30;
        }

        .header-actions {
            gap: 8px;

            button {
                padding: 8px 16px;
                border-radius: 8px;
                font-size: 13px;
                font-weight: 700;
                border: none;
            }

            .download {
                border: 2px solid #2A85FF !important;
                color: #2A85FF;
                background-color: #FCFCFC;
            }

            .import {
                background-color: #2A85FF;
                color: #FCFCFC;
                border: 2px solid #2A85FF;
            }

            .filter {
                border: 2px solid #2A85FF !important;
                color: #2A85FF;
                background-color: #FCFCFC;
            }

            .add {
                border: 2px solid #2A85FF !important;
                color: #2A85FF;
                background-color: #FCFCFC;
            }

            .share {}
        }
    }





}