.manual-sidebar-container {
    min-width: 340px;

    &.collapsed {
        max-width: 96px !important;
        min-width: 96px !important;
    }

    .tax-module-sidebar {
        padding: 0;
        display: flex;
        flex-direction: column;

        .sidebar-header {
            padding: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .icons {
                display: flex;
                align-items: center;
                gap: 16px;

                .arrow-icon {
                    padding: 4px;
                    border-radius: 50%;
                    border: 1px solid var(--Neutral-03, #EFEFEF);
                    background: var(--Neutral-02, #F4F4F4);
                }
            }

            &.collapsed {
                flex-direction: column;

                .logo-green {
                    .logo-text {
                        display: none;
                    }
                }

                .icons {
                    flex-direction: column;
                    align-items: center !important;
                    justify-content: center;
                    margin-top: 24px;

                    .toggle-sidebar-icon {
                        margin-left: 0;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .sidebar-body {
            padding: 0 24px;

            .active {
                border-radius: 12px;
                background: var(--Neutral-03, #EFEFEF);
                box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.05) inset,
                    0px 1px 1px 0px #FFF inset;
                flex-grow: 1;

                &::after {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-left: auto;
                    background-image: url("/assets/arrow-right-icon.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    right: 10px;
                }
            }

            &>div {
                position: relative;
            }

            .sidebar-section {
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
                gap: 12px;
                width: 100%;
                padding: 12px;
                color: var(--Neutral-04, #6F767E);
                font-size: 15px;
                font-weight: 600;
                position: relative;

                &::after {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-left: auto;
                    background-image: url("/assets/arrow-right-icon.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    transition: transform 0.2s ease;

                }

                &.open::after {
                    transform: rotate(90deg);
                }

            }

            .active {
                border-radius: 12px;
                background: var(--Neutral-03, #EFEFEF);
                box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.05) inset, 0px 1px 1px 0px #FFF inset;

            }

            &.collapsed {
                .sidebar-section {


                    &::after {
                        display: none;
                    }
                }
            }

            .sidebar-list {
                padding: 0;

                .sidebar-item {
                    list-style-type: none;
                    cursor: pointer;
                    display: flex;

                    &:nth-child(8) {
                        display: block;
                    }

                    span {
                        color: var(--Neutral-04, #6F767E);
                        font-size: 15px;
                        font-weight: 600;
                        padding: 12px;
                    }
                }

                .has-sublist {
                    padding: 0 !important;
                    flex-direction: column;

                    .sidebar-section-nested {
                        padding: 0 !important;

                        span {
                            width: 100%;
                            text-align: left;
                            padding: 0;
                        }

                        &::after {
                            display: none;
                        }
                    }

                    .sidebar-sublist {
                        padding-left: 20px;

                        .sidebar-subitem {
                            list-style-type: none;
                            border-left: 3px solid #efefef;
                            margin-left: 3px;

                            &.subactive {
                                display: flex;

                                span {
                                    flex-grow: 1;
                                    border-radius: 12px;
                                    background: var(--Neutral-03, #EFEFEF);
                                    box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.05) inset, 0px 1px 1px 0px #FFF inset;

                                    &::after {
                                        content: "";
                                        display: inline-block;
                                        width: 24px;
                                        height: 24px;
                                        margin-left: auto;
                                        background-image: url("/assets/arrow-right-icon.svg");
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        position: absolute;
                                        right: 10px;
                                    }
                                }

                            }

                        }
                    }
                }
            }

            /* Dropdown tam siyahı */
            .sidebar-dropdown {
                position: absolute;
                top: 50px;
                width: 280px;
                left: 50px;
                background: rgba(252, 252, 252, 0.90);
                box-shadow: 0px -13px 24px -7px rgba(0, 0, 0, 0.05),
                    0px 24px 40px -11px rgba(0, 0, 0, 0.10);
                z-index: 1000;
                padding: 24px;
                padding-left: 0;
                border-radius: 16px;
                border: 1px solid var(--Neutral-00, #FFF);
                backdrop-filter: blur(12px);

                .dropdown-list {
                    padding: 0;
                    margin: 0;

                    .dropdown-item {
                        background-color: transparent;
                        border: none;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        color: var(--Neutral-04, #6F767E);
                        font-size: 15px;
                        font-weight: 600;
                        cursor: pointer;

                        span {
                            padding: 12px;
                        }

                        .sidebar-section-nested {
                            padding-left: 0;
                            padding: 0;
                        }

                        &.active {
                            border-radius: 0;
                            box-shadow: none;

                            span {
                                border-radius: 12px;
                                background: var(--Neutral-03, #EFEFEF);
                                box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.05) inset,
                                    0px 1px 1px 0px #FFF inset;
                                padding: 12px;
                                flex-grow: 1;

                                &::after {
                                    content: "";
                                    display: inline-block;
                                    width: 24px;
                                    height: 24px;
                                    margin-left: auto;
                                    position: absolute;
                                    right: 30px !important;
                                    background-image: url("/assets/arrow-right-icon.svg");
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                }
                            }

                            &::after {
                                right: 25px;
                                display: none;
                            }
                        }
                    }

                    .has-sublist {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0;

                        .dropdown-sublist {
                            padding-left: 23px;
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            .dropdown-subitem {
                                list-style: none;
                                border-left: 3px solid #efefef;
                                display: flex;
                                align-items: center;
                                // padding-left: 12px;

                                span {
                                    padding-left: 12px;
                                }

                                &.active {
                                    background-color: transparent;
                                    box-shadow: none;
                                    border-radius: 0;
                                    flex-grow: 1;
                                    position: relative;

                                    &::after {
                                        top: 12px;
                                        right: 0;
                                    }

                                    span {
                                        padding: 12px;
                                        border-radius: 12px;
                                        background: var(--Neutral-03, #EFEFEF);
                                        box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.05) inset, 0px 1px 1px 0px #FFF inset;
                                        width: 100% !important;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .sidebar-footer {
            padding: 0 24px;
            gap: 24px;
            margin-top: 100px;

            .refresh-btn {
                color: var(--Primary-01, #2A85FF);
                font-size: 13px;
                font-weight: 700;
                width: fit-content;
                padding: 8px 16px;
                border-radius: 8px;
                border: 2px solid var(--Primary-01, #2A85FF);
                background: var(--Neutral-01, #FCFCFC);
                background-color: transparent;
            }

            &-actions {
                padding: 0 12px;
                padding-top: 16px;
                gap: 12px;
                border-top: 2px solid #f4f4f4;

                .action {
                    text-decoration: none;
                    color: var(--Neutral-04, #6F767E);
                    font-size: 13px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
        }
    }
}