.add-partner-container {
    gap: 48px;

    .add-partner-header {
        width: 100%;

        .add-partner-title {
            gap: 16px;

            img{
                cursor: pointer;
            }

            span {
                color: var(--Neutral-07, #1A1D1F);
                font-size: 20px;
                font-weight: 600;
            }

        }

    }

    .add-partner-form {
        gap: 20px;
        width: 60%;

    }

    .btn {
        width: 60%;
    }

}