@use '../../../../abstracts/mixin' as *;

.company-register-container {
    margin-top: 100px !important;
    margin-bottom: 100px !important;

    @include mq(big-desktop-down) {
        width: 35% !important;
    }

    .account-type {
        color: #1A1D1F;
        background-color: #CABDFF;
        border-radius: 8px;
        margin-bottom: 12px;
        width: fit-content;
        padding: 4px 12px;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.48px;
    }

    .title {
        color: #1A1D1F;
        margin-bottom: 32px;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -1.44px;
    }

    .info {
        color: #1A1D1F;
        margin-bottom: 24px;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.4px;
    }

    .company-register-form {
        gap: 20px;

        .input-div {
            padding: 8px 16px;

            label {
                color: var(--Neutral-04, #6F767E);
                font-weight: 500;
                line-height: 12px;
            }

            input {
                color: var(--Neutral-04, #6F767E);

            }
        }

        .input-div:nth-child(7) {
            label {
                color: var(--Neutral-08, #111315);
            }

            input {
                color: var(--Neutral-07, #1A1D1F);
            }
        }

        .input-div:nth-child(8) {
            label {
                color: var(--Neutral-08, #111315);
            }

            input {
                color: var(--Neutral-07, #1A1D1F);
            }
        }

    }

    .authorize {
        gap: 8px;

        .authorized-persons {
            margin-bottom: 20px;
            color: var(--Neutral-07, #1A1D1F);
            font-size: 14px;
            font-weight: 600;
        }

        .input-header {

            label {
                color: #1A1D1F;

                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: -0.12px;
            }

            .remove-authority {
                border: none;
                background-color: transparent;
                color: #FF6A55;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 12px;
                letter-spacing: -0.12px;
            }
        }

        .authority-inputs {
            gap: 20px;
        }
    }

    .add-authority {
        gap: 8px;
        cursor: pointer;

        button {
            border: none;
            outline: none;
            background-color: transparent;
        }

        span {
            color: #1A1D1F;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.14px;
        }
    }


    .btn {
        padding: 12px 20px;
        border-radius: 12px;
        border: none;
        margin-top: 40px;
        background-color: #2A85FF;
    }

    .active {
        background-color: #2A85FF;
    }

    .deactive {
        background: rgba(42, 133, 255, 0.50);
    }

    .warning {
        margin-top: 40px;
        color: #1A1D1F;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: -0.12px;
        width: 100%;
        text-align: center;

        a {
            text-decoration: none;
        }
    }




}