.individual-login-container {

    width: fit-content !important;
    margin-top: auto !important;
    margin-bottom: auto !important;

    .login-type {
        color: #1A1D1F;
        background-color: #B5E4CA;
        border-radius: 8px;
        margin-bottom: 12px;
        width: fit-content;
        padding: 4px 12px;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.48px;
        outline: none;
    }

    .login-title {
        color: #1A1D1F;
        margin-bottom: 32px;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -1.44px;
    }

    .login-info {
        color: #1A1D1F;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.4px;
        margin-bottom: 24px;
    }

    .number-input {
        border-radius: 12px;
        border: 2px solid var(--neutral-shades-0475, #9A9FA5);
        background: var(--Neutral-00, #FFF);
        padding: 8px 16px;

        label {
            color: #111315;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 12px;
            letter-spacing: -0.12px;
        }

        .input-group {
            gap: 12px;

            input {
                border: none;
                outline: none;
                color: #1A1D1F;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: -0.15px;
            }
        }
    }

    .check-icon {

        .icon {
            filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(100deg);
        }
    }

    .remember-me {
        margin-top: 24px;
        gap: 8px;

        div {
            width: 24px;
            height: 24px;
            border: 2px solid rgba(111, 118, 126, 0.40);
            border-radius: 6px;


            input {
                outline: none !important;
                border: none !important;
                width: 100%;
                height: 100%;
            }

        }

    }

}