.input-div {
    border-radius: 12px;
    background: var(--Neutral-02, #F4F4F4);
    gap: 4px;
    padding: 8px 16px;
    width: 100%;

    label {
        color: var(--Neutral-08, #111315);
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: -0.12px;
    }

    input {
        color: var(--Neutral-07, #1A1D1F);
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.15px;

        background-color: transparent;
        border: none;
        outline: none;

        &::placeholder {
            color: var(--Neutral-04, #6F767E);
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.15px;
        }
    }
}