.select-div {

    .select {
        padding: 16px;
        border-radius: 12px;
        border: 1px solid var(--Neutral-03, #EFEFEF);
        background: var(--Neutral-02, #F4F4F4);
        border: none;
        outline: none;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        width: 100%;

        color: var(--Neutral-04, #6F767E);

        /* Base 1 (Semibold) */
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 160% */
        letter-spacing: -0.15px;
    }

    .select-icon {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none; // tıklanmasın
        width: 24px;
        height: 24px;
    }

}